.blogContent {
  flex-grow: 1; 
  width: 75%;
  padding: 1rem 1rem;
  overflow: auto;
  z-index: 1;
  min-height: 100vh;
}

@media screen and (max-width: 55rem) {
  .blogContent {
    width: 100%;
    margin: 1.5rem 0;
    padding: 0rem;
  }
}
