.title {
  color: #00bfff;
  padding-top: 3rem;
}

.display {
  display: flex;
  flex-direction: row;
}

.summary {
  display: inline-block;
  padding: 1rem;
  flex: 50%
}

.image {
  display: inline-block;
  padding: 1rem;
  flex: 50%;
}

@media screen and (max-width: 55rem) {
  .display {
    flex-direction: column;
  }
}
