.title {
  color: #00bfff;
  padding-top: 7rem;
}

.display {
  display: flex;
  flex-direction: row;
}

.summary {
  display: inline-block;
  padding-left: 1rem;
  max-width: 50%;
  flex: 50%;
}

.image {
  display: inline-block;
  margin-bottom: 8rem;
  margin-left: 1rem;
  max-width: 15rem;
  flex: 50%;
  box-shadow: 0.3125rem 0.625rem #8ea0c2;
}

@media screen and (max-width: 55rem) {
  .display {
    flex-direction: column;
  }
  .summary {
    max-width: 100%;
  }
}
