.title {
  color: #66d9ff;
  padding-top: 6rem;
}

.display {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}

.summary {
  display: inline-block;
  max-width: 50%;
  flex: 50%;
}

.image {
  display: inline-block;
  margin: 0 0 8rem 1rem;
  max-width: 15rem;
  flex: 50%;
  box-shadow: 0.3125rem 0.625rem #8ea0c2;
  border-radius: 2%;
}

@media screen and (max-width: 55rem) {
  .display {
    flex-direction: column;
  }
  .summary {
    max-width: 100%;
  }
}
