.title {
  color: #80dfff;
  padding-top: 6rem;
}

.posts {
  margin: 0;
}

.post {
  margin-bottom: 1rem 0;
  list-style-type: none;

  h1 {
    margin-bottom: 0;
  }

  p {
    font-style: italic;
  }
}
