.greeting {
  color: #33ccff;
  padding-top: 6rem;
}

.link:visited {
  text-decoration: none;
  color: #33ccff;
}

h1, h3 {
  color: #8db0f2;
}

p {
  color: #8ea0c2;
}

.summary {
  padding-left: .5rem;
}


