.greeting {
  color: #66d9ff;
  padding-top: 6rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.link:visited {
  text-decoration: none;
  color: #66d9ff;
}
