.title {
  color: #00bfff;
  padding-top: 7rem;
}

p {
  padding-right: 3rem;
}

a {
  text-decoration: none;
  color: #00bfff;
}

.display {
  display: flex;
  flex-direction: row;
}

.description {
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  max-width: 50%;
  flex: 50%;
}

.image {
  display: inline-block;
  margin-bottom: 10rem;
  margin-left: 1rem;
  max-width: 15rem;
  flex: 50%;
  box-shadow: 0.3125rem 0.625rem #8ea0c2;
}

@media screen and (max-width: 55rem) { 
  .display {
    flex-direction: column;
  }
  .description {
    max-width: 100%;
    vertical-align: none;
  }
  .image {
    margin-bottom: 5rem;
  }
}


