.display {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.description {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  flex: 50%;
}

.image {
  display: inline-block;
  padding: 1rem;
  flex: 50%;
}

@media screen and (max-width: 40rem) { 
  .display {
    flex-direction: column;
  }
}


