.title {
  color: #66d9ff;
  padding-top: 6rem;
}

.subTitle {
  padding-bottom: 3rem;
}

p {
  padding-right: 1rem;
}

.display {
  display: flex;
  flex-direction: row;
}

.description {
  display: inline-block;
  max-width: 50%;
  margin-right: 1rem;
  flex: 50%;
}

.image {
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 10rem;
  max-width: 15rem;
  flex: 50%;
  box-shadow: 0.3125rem 0.625rem #8db0f2

}

@media screen and (max-width: 55rem) { 
  .display {
    flex-direction: column;
  }
  .description {
    max-width: 100%;
    vertical-align: none;
  }
  .image {
    margin-bottom: 5rem;
  }
}


