@media screen and (min-width: 55rem) {
  .footer {
     display: none;
  }
}

@media screen and (max-width: 55rem) {
  .footer {
    flex-shrink: 0;
    text-align: center;
    background: #09092a;
    position: absolute;
    width: 100%
  }

  .footer p {
    padding: 1rem;
    margin: auto;
    font-size: 0.75rem;
  }

  .social {
    align-items: center;
  }

  .social ul {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
  }

  .social li {
    display: inline;
    padding: .5rem;
  }

  .icon {
    font-size: 1.25rem;
    color: #7d9bd4
  }

  .icon:hover {
    color: #33ccff;
    animation: moveUp 0.25s ease-in-out;
    animation-fill-mode: forwards;
  }
}
