.brand {
  padding: 1rem 0 3rem;
}

.nav-item {
  color: #636e72;
  font-size: .9rem;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  margin: 0;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}
