.header {
  font-weight: bold;
}

.brand {
  color: #33ccff;
  font-size: 1.5rem;
  text-decoration: none;
}

.tagline {
  font-size: .9rem;
  font-weight: normal;
}

.nav-list {
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #7d9bd4;
  font-size: .9rem;
  font-weight: normal;
  text-decoration: none;
}

.nav-item:hover {
  color: #33ccff;
}

.active-nav-item {
  color: #4881ea;
}

.footer {
  position: fixed;
  margin-top: 2rem;
}

.footer p {
  font-size: 0.75rem;
}




