//parent div of menu button 
.container {
  display: block;
  position: relative;
}

.sidebar {
  position: fixed;
  padding: 1rem;
  height: 100%;
  width: 200px;
  background: #4a4e50;
}

.content {
  flex-grow: 1;
  margin-left: 200px;
  width: auto;
  padding: 3rem;
  overflow: auto;
  z-index: 1;
  min-height: 100vh;
}
//menu button mock
.menu {
  background: #000000;
  width: 2.5rem;
  height: 2.5rem;
  bottom: .625rem;
  left: .625rem;
  display: block;
  position: absolute;
  border-radius: 50%;
}
//styling menu button 
.menu:before, 
.menu:after {
  background: #FFFFFF;
  width: 1.25rem;
  height: 0.125rem;
  left: 0.625rem;
  display: block;
  position: absolute;
  content: "";
  transition: all .75s ease;
}

.menu:before {
  top: 1rem;
}

.menu:after {
  bottom: 1rem;
}
//tablet view 
@media screen and (max-width: 55rem) {  //880 px
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0rem;
  }
}
// desktop view
@media screen and (min-width: 55rem) {
  //hide menu in desktop view
  .menu {
    display: none;
  }
}





