//menu button mock
.menu {
  background: #000000;
  width: 2.5rem;
  height: 2.5rem;
  bottom: .625rem;
  left: .625rem;
  display: block;
  position: fixed;
  border-radius: 50%;
  z-index: 1;
}

//styling menu button(horizontal bar)
.menu:before,
//top
.menu:after {
  //bottom 
  background: #FFFFFF;
  width: 1.25rem;
  height: 0.125rem;
  left: 0.625rem;
  display: block;
  position: absolute;
  content: "";
  transition: all .75s ease;
}

.menu:before {
  top: 1rem;
}

.menu:after {
  bottom: 1rem;
}
// desktop view
@media screen and (min-width: 55rem) {

  //hide menu in desktop view
  .menu {
    display: none;
  }
}