.bm-burger-button {
  border-color: #7d9bd4;
  width: 2.5rem;
  height: 1.25rem;
  bottom: 1.25rem;
  left: 1.25rem;
  position: fixed;
  z-index: 1;
}

.bm-burger-bars {
  background: #7d9bd4;
  width: 1.75rem;
}

.bm-burger-bars-hover {
  background: #00bfff;
}

.bm-cross-button {
  height: 2.5rem;
  width: 2.5rem;
}

.bm-cross {
  background: #7d9bd4;
}

/* general sidebar styles*/
.bm-menu {
  background:#09092a;
  width: 12.5rem;
  padding: 2rem 1rem;
  font-size: .9rem;
  font-weight: normal;
 
}

@media screen and (min-width: 55rem) {
  .bm-burger-button {
    display: none;
  }
}